// Post SCSS for the theme.

@import "./espi-header";
@import "./espi-footer";

body.pagelayout-login {
    background-image: url([[pix:theme_espi|loginbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-frontpage {
    background-image: url([[pix:theme_espi|frontpagebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-mydashboard {
    background-image: url([[pix:theme_espi|dashboardbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-course,
body.pagelayout-incourse {
    background-image: url([[pix:theme_espi|incoursebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-embedded,
body.pagelayout-popup,
body.pagelayout-secure,
body.pagelayout-print {
    background-image: none;
}
body {
    background-image: url([[pix:theme_espi|defaultbackgroundimage]]);
    background-size: cover;
}

#page {
    margin-top: 0;
}

#page-wrapper {
    margin: 0 0 -($footer-height) 0;
    min-height: calc(100% - #{$footer-height+10px});
}