<footer>
    <div class="full-width">
        <div id="barra-azul">
            <div class="mapinha width">
                <small>
                    <div class="link-mapa">
                        <a class="various" data-fancybox-type="iframe"
                           href="http://portalespi.manaus.am.gov.br/mapa-espi/">
                            <i class="fa fa-map-marker"></i>
                            <p>ver mapa</p></a></div>

                    Avenida Professor Nilton Lins, 3259, Bloco D - Parque das Laranjeiras | 69058-030 Manaus - AM | 92
                    3215-4530 | 92 3215-4665<br> ESPI 2015 @ Todos os direitos reservados.
                </small>
            </div><!-- width -->
        </div><!-- barra-azul -->
    </div>
</footer>