<div class="core_user_header full-width">
    <div id="barra-principal">
        <div class="width">
            <a href="http://portalespi.manaus.am.gov.br">
                <img class="logo-espi"
                     src="{{{espi_header}}}"
                     alt="ESPI" title="ESPI">
            </a>
            <div id="menu-principal" class="menu-menu-institucional-container">
                <ul id="menu-menu-institucional" class="menu">
                    <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34">
                        <a href="http://portalespi.manaus.am.gov.br/institucional/">Institucional</a></li>
                    <li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41">
                        <a href="http://portalespi.manaus.am.gov.br/parceiros/">Parceiros</a></li>
                    <li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40">
                        <a href="http://portalespi.manaus.am.gov.br/contatos/">Contatos</a></li>
                    <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35">
                        <a href="http://portalespi.manaus.am.gov.br/fale-conosco/">Fale Conosco</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>